<table border=1>
    <tr>
        <td> Item Name: </td> <td><%=@item.name %> </td>
    </tr>
    <tr>
        <td> Item Desc: </td> <td><%=@item.desc %> </td>
    </tr>
    <tr>
        <td> Item Cost: </td> <td>$<%=@item.cost %> </td>
    </tr>
    <tr>
        <td> Fish: </td> <td><%=@item.fish.name %> </td>
    </tr>
</table>

